<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>

    <h2>Pievienot Darbinieku</h2>
    <form action="/add_employee" method="POST">
        <label for="name">Vards:</label>
        <input type="text" id="name" name="name" required><br> 
        <label for="surname">Uzvards:</label>
        <input type="text" id="surname" name="surname" required><br>  
        <label for="status">Statuss:</label>
        <input type="text" id="status" name="status" required><br>  
        <input type="submit" value="Pievienot Atslēgu Saņēmēju">
    </form>

    <h2>Pievienot Atslegu</h2>
    <form action="/add_key" method="POST">
        <label for="key_name">Vards:</label>
        <input type="text" id="key_name" name="key_name" required><br>  
        <label for="building">Ēka:</label>
        <input type="text" id="building" name="building" required><br>  
        <label for="description">Apraksts:</label>
        <input type="text" id="description" name="description" required><br>  
        <label for="boxes_number">Kastes Numurs:</label>
        <input type="number" id="boxes_number" name="boxes_number" required><br>
        <input type="submit" value="Pievienot Atslegu">
    </form>

    <h2>Skenēt RFID lai pievienotu atslēgu</h2>
    <button onclick="scanRFID()">Skenēt RFID</button>

    <h2>Darbinieki</h2>
    <ul>
        {% for employee in employees %}
        <li>
            {{ employee.name }} {{ employee.surname }} ({{ employee.status }})
            <a href="/delete_employee/{{ employee.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Keys</h2>
    <ul>
        {% for key in keys %}
        <li>
            {{ key.name }} - {{ key.building }} ({{ key.description }})
            <a href="/delete_key/{{ key.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <input type="hidden" id="rfid_data" name="rfid_data">

</body>
</html>

<script>
function scanRFID() {
    fetch('/add_key_rfid', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        }
        throw new Error('Network response was not ok.');
    })
    .then(data => {

    })
    .catch(error => {
        console.error('Error:', error);
    });


    setTimeout(getRFIDData, 1000);
}

function getRFIDData() {
    fetch('/get_rfid_data')
    .then(response => response.json())
    .then(data => {
        if (data.rfid_data) {

            document.getElementById("rfid_data").value = data.rfid_data;
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>
